* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

body {
    background-color: #121212;
    color: #fff;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 34px;
    text-transform: uppercase;
}

.btn {background-image: linear-gradient(to right, #E55D87 0%, #5FC3E4  51%, #E55D87  100%)}
.btn {
   margin: 10px;
   padding: 18px 48px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   cursor: pointer;
}

 .btn:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }


p {
    margin: 32px 0;
    font-size: 24px;
    font-weight: 600;
}